body {
    margin: 0;
    background-color: #0b0f2c;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

}
h1{
    font-size: 3rem;
}

#my-canvas {
    background-color: #0b0f2c;
}

#start-btn,
#restart-btn {

    width: 200px;
    padding-top: 100px;
}

.img-button {
    width: 100%;
}


.container {

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;

}

#my-canvas {
    display: none;
    /* no muestres este elemento en el DOM */
}

#gameover-screen {
    display: none;
}


.absolute{
    position: absolute;
    top :8%;
    left: 50%;
    
}

#nivel2{
    
    position: absolute;
    top: 26vh;
    left: 40vw;
    width: 27rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor: pointer;

}
#nivel2img{
    width: 100%;
}

.blackScreen{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: black;
    opacity: .4;
    display:none
}